.parent-contact-container{
    background: black;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
}

.contact-container {
    background: black;
    padding: 40px;
    padding-top: 10px;
    border-radius: 12px;
}

.parent-contact-container h1,h3 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(black);
}

.parent-contact-container .fat-underline {
    position: relative;
}
.parent-contact-container .fat-underline::after {
    
    content: "";
    position: absolute;
    background-color: black;
    bottom: 0px;
    height: 10px;
    left: 0px;
    right: 0px;
}

.contact-container iframe {
    overflow: hidden;
    object-fit: cover;
}

.contact-container .main {
    margin-top: 50px;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}

.contact-container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container .desc {
    font-weight: 300;
    font-size: 25px;
    color: white;
    text-align: center;
}

.contact-container .img-desc {
    margin: 30px 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    
}

.contact-container .social-desc {
    font-size: 1.4rem;
}

.contact-container a {
    text-decoration: none;
}

.contact-container i {
    color: white;
}
.contact-container .title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.contact-container .title-desc {
    color: var(--secondary);
    padding-bottom: 10px;

}


@media (max-width: 1100px) {

    .parent-contact-container{
        height: auto;
        display: block;
    }
    
    .contact-container h1 {
        font-size: 10vw;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container .fat-underline::after {
        display: none
    }

    .contact-container .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    .contact-container .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-container .title {
        font-size: 5vw;
    }
    

    .contact-container img {
        min-width: 200px;
        margin: 0;
    }

    .contact-container .title, .contact-container .title-desc  {
        padding-right: 0; 
    }

    .contact-container .desc, .contact-container .title-desc  {
        font-size: 5vw;
    }

    .contact-container .social-desc {
        display: flex;
        height: 300px;
        flex-direction: column;

    }

}