.all-container {
    background-color: black;
    height: calc(100vh - 100px)
}
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    /* margin: 25px 50px; */
    padding: 50px 50px;
    border-radius: 12px;
    /* box-shadow: 0 0 0 2rem skyblue; */
    margin-left: 20%;
    margin-right: 20%;
}

.no-posting-class {
    margin-top: 15%;
}

.pdf-container h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(black);
}

.pdf-container .fat-underline {
    position: relative;
}


.pdf-container .fat-underline::after {
    content: "";
    position: absolute;
    background-color: white;
    bottom: 0px;
    height: 8px;
    left: 0px;
    right: 0px;
    top: 40pt;
    
}

.pdf-data {
    margin-top: 30px;
}