.information-container {

    display: grid;
    column-gap: 5rem;
    background-color: var(--secondary);
    padding: 5rem;
}

.information-container h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    text-align: start;
    font-size: 7em;
    position: relative;
}

.information-container h1::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 2em;
    height: 0.1em;
    width: 2em;
    background-color: black;
}

.information-container h1::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 4em;
    height: 1em;
    width: 0.1em;
    background-color: black;
}

.information-container p {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    font-weight: 400;
    margin-top: 2rem;
    padding-right: 5rem;
    font-size: 25px;
    color: rgb(49, 49, 49);
}

.information-container img {
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    margin-top: 5rem;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.information-container img::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0em;
    height: 0.1em;
    width: 2em;
    background-color: black;
}

.information-container img::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0em;
    height: 1em;
    width: 0.1em;
    background-color: black;
}