.leader-container {
    background: white;
    margin: 50px 50px;
    padding: 50px 50px;
    border: 10px outset var(--secondary);
    border-radius: 12px;
    /* box-shadow: 0 0 0 2rem skyblue; */
}

.leader-container h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(black);
}

.leader-container .fat-underline {
    position: relative;
}
.leader-container .fat-underline::after {
    
    content: "";
    position: absolute;
    background-color: black;
    bottom: 0px;
    height: 10px;
    left: 0px;
    right: 0px;
    
}

.leader-container img {
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    margin: 0 70px;
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.leader-container .main {
    margin-top: 50px;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}

.leader-container .desc {
    font-weight: 300;
    margin-top: 2rem;
    font-size: 25px;
    color: rgb(47, 47, 47);
    text-align: center;
}

.leader-container .img-desc {
    margin-top: 15px;
}
.leader-container .title {
    padding-right: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.leader-container .title-desc {
    padding-right: 30px;
    text-align: center;
    color: var(--secondary)

}